@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+serif-title+Display:ital@0;1&display=swap");

* {
  font-family: "Public Sans", sans-serif;
}

body {
  height: 100vh;
  background-color: #EDF3F8;
}

header {
  margin-top: 40px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo {
  margin-right: auto;
}

.lien {
  display: none;
}

.cta {
  display: none;
}

.tel {
  margin-right: auto;
  margin-left: auto;
}

input {
  width: 100%;
  padding: 16px 24px 16px 24px;
  border-radius: 32px;
  background-color: #fbfcfe;
  margin-bottom: 16px;
  border: none;
  color: black;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 16px 24px 16px 24px;
  border-radius: 32px;
  background-color: #ba4270;
  color: white;
  margin-bottom: 16px;
  border: none;
}

h1 {
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.accueil {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.contact {
  font-weight: bold;
  color: #6c8294;
}

.question {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}

article {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: white;
  text-align: center;
}

.sponsor-wrapper {
  background-color: #1b262f;
  padding-bottom: 20%;
}

.images {
  display: flex;
  justify-content: space-evenly;
}

.sponsor {
  width: 100%;
  padding-top: 40px;
}

.image {
  margin-top: 32px;
  margin-bottom: 32px;
}

h2 {
  font-size: 32px;
  font-family: "DM Serif Display", serif;
  font-weight: 100;
  margin-bottom: 16px;
}

.aprobation-social {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  opacity: 70%;
  margin-bottom: 56px;
}

.learn-more {
  color: #fbfcfe;
  padding: 16px 32px 16px 32px;
  border-radius: 32px;
  border: 1px solid #fbfcfe;
  display: inline-block;
}

.fonctionaliter-1 {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-top: 80px;
}

.fonctionaliter-2 {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-top: 80px;
}

.serif-title {
    font-family: "DM Serif Display", serif;
    font-size: 36px;
    color: #36536B;
    text-align: center;
    margin-bottom: 24px;
}


.description-fonctionaliter {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #6C8294;
}

.img-fonction-1 {
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}

.img-fonction-2 {
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}


.icone-benefits {
    width: 106px;
    height: 106px;
    border-radius: 100%;
    margin-top: 48px;
    margin-bottom: 32px;
}

.benefits {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-benefits {
    text-align: center;
    font-size: 16px;
    color: #6C8294;
}

.tilte-benefits {
    font-size: 18px;
    color: #36536B;
    margin-bottom: 16px;
}

.ready-title {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 32px;
  font-size: 32px;
}

.inscryption-final {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

footer {
  background-color: #1B262F;
  padding-top: 40px;
  padding-bottom: 56px;
  margin-top: 48px;
}

a {
  /* temporaire */
  color: white;
}

.logo-footer {
  margin-right: auto;
  margin-left: auto;
}

.page-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer {
  margin-top: 40px;
  font-size: 15px;
  color: #FBFCFE;
  font-weight: 700;
  opacity: 70%  ;
}

.reseaux-sociaux-footer {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}


.menu-burger {
  margin-left: auto;
}









@media screen and (min-width: 768px) {
  .logo {
    margin-right: 16px;
  }

  .menu-burger {
    display: none;
  }

  .cta {
    padding: 16px 24px 16px 24px;
    border-radius: 32px;
    background-color: #ba4270;
    color: white;
    text-decoration: none;
    display: unset;
  }

  .lien {
    opacity: 70%;
    color: #36536b;
    margin-right: 16px;
    display: unset;
  }

  header {
    width: 90%;
    justify-content: space-between;
  }

  input {
    width: 60%;
    border-radius: 32px 0px 0px 32px;
  }

  button {
    width: 50%;
    margin-left: -32px;
  }

  form {
    display: flex;
  }

  h1 {
    font-size: 48px;
  }

  .images {
    display: unset;
  }

  .image {
    display: flex;
  }

  .sponsor {
    margin-right: 32px;
  }

  h2 {
    margin-top: 80px;
    font-size: 48px;
  }

  article {
    width: 75%;
    padding-top: 40px;
  }


  .fonctionaliter-1 {
    width: 70%;
  }

  .fonctionaliter-2 {
    width: 70%;
  }

  .benefits-section {
    display: flex;
  }

  footer {
    display: flex;
    padding-bottom: 32px;
    padding-top: 32px;
    margin-right: auto;
    margin-left: auto;
  }

  .page-footer-wrapper {
    flex-direction: row;
  }

  .reseaux-sociaux-footer {
    width: 20%;
    margin: 0px;
    margin-left: auto;
  }

  .logo-footer {
    margin: 0px;
  }

  .logo-footer-wrapper {
    width: 20%;
    display: flex;
  }

  .page-footer-wrapper {
    width: 40%;
    justify-content: space-evenly;
  }

  .page-footer {
    margin: 0px;
  }

  .gestion-width-footer {
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.ready-title {
  font-size: 48px;
}


}



@media screen and (min-width: 1024px) {
  .lien {
    opacity: 70%;
    color: #36536b;
    margin-right: 32px;
    margin-left: 32px;
  }

  header {
    max-width: 1100px;
  }

  a:hover {
    color: black;
  }

  .cta {
    margin-left: auto;
  }

  .accueil {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1100px;
  }

  .main-content-accueil {
    display: flex;
    flex-direction: column;
  }

  form {
    width: 90%;
  }

  h1 {
    font-weight: 400;
    color: #36536b;
    text-align: left;
  }

  .question {
    display: unset;
  }

  article {
    text-align: left;
    display: flex;
    /* align-items: center; */
    flex-direction: row-reverse;
    margin: 0px;
    justify-content: space-between;
    max-width: 1100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .content-sponsor {
    max-width: 445px;
  }

  .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image {
    margin-bottom: 0px;
    margin-top: 0px;
    justify-content: flex-start;
  }

  .sponsor-wrapper {
    padding-bottom: 80px;
  }

  .fonctionaliter {
    display: flex;
  }

  .explication {
    width: 50%;
  }


  .description-fonctionaliter {
    text-align: left;
  }

  .fonctionaliter-1 {
    display: flex;
  }

  .fonctionaliter-2 {
    display: flex;
    flex-direction: row-reverse;
  }

  .img-fonction-1 {
    margin-left: 0px;
    }


  .img-fonction-2 {
        margin-right: 0px;
    }

    .benefits-section {
      width: 70%;
      margin-right: auto;
      margin-left: auto;
      gap: 32px;
    }

    .inscryption-final {
      display: flex;
      align-items: center;
      max-width: 1100px;
      margin-top: 96px;
      justify-content: space-between;
    }

    .ready-title {
      display: flex;
      justify-content: center;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    .email-low-page {
      width: 445px;
    }

    .input-email-low-page {
      margin-bottom: 0px;
    }

    .button-email-low-page {
      margin-bottom: 0px;
    }

    .logo-footer-wrapper {
      width: 10%;
    }

    .gestion-width-footer {
      max-width: 1100px;
    }
}
