
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
    font-family: "Public Sans", sans-serif;
}


header {
    margin-top: 40px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.logo {
    margin-right: auto;
}

.lien {
    display: none;
}

.cta {
    display: none;
}

.tel {
    margin-right: auto;
    margin-left: auto;
}



input {
    width: 100%;
    padding: 16px 24px 16px 24px;
    border-radius: 32px;
    background-color: #FBFCFE;
    color: white;
    margin-bottom: 16px;
    border: none;
}

button {
    width: 100%;
    padding: 16px 24px 16px 24px;
    border-radius: 32px;
    background-color: #BA4270;
    color: white;
    margin-bottom: 16px;
    border: none;
}

h1 {
    font-family: "DM Serif Display", serif;
    text-align: center;
    font-size: 32px;
}


.accueil {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.contact {
    font-weight: bold;
    color: #6C8294;
}


.question {
    display: flex;
    justify-content: center;
}



article {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

.fond {
    background-color: #1B262F;
}

.images {
    display: grid;
}





@media screen and (min-width: 768px) {

    .logo {
        margin-right: 16px;
    }

    .menu-burger {
        display: none;
    }

    .cta {
        padding: 16px 24px 16px 24px;
        border-radius: 32px;
        background-color: #BA4270;
        color: white;
        text-decoration: none;
        display: unset;
    }
    
    .lien {
        opacity: 70%;
        color: #36536B;
        margin-right: 16px;
        display: unset;
    }


    header {
        width: 90%;
        justify-content: space-between;
    }

    input {
        width: 60%;
        border-radius: 32px 0px 0px 32px;
    }


    button {
        width: 50%;
        margin-left: -32px;
    }

    form {
        display: flex;
    }

    h1 {
        font-size: 48px;
    }


}


@media screen and (min-width: 1024px) {


    .lien {
        opacity: 70%;
        color: #36536B;
        margin-right: 32px;
        margin-left: 32px;
    }

    header {
        max-width: 1100px;
    }

    a:hover {
        color: black;
    }

    .cta {
        margin-left: auto;
    }

    .accueil {
        display: flex;
        flex-direction: row-reverse;
        max-width: 1100px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
    }

    form {
        width: 90%;
    }

    h1 {
        font-weight: 400;
        color: #36536B;
        text-align: left;
    }

    .question {
        display: unset;
    }

}